<footer>
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="title" i18n="title footer@@titleFt">Title</div>
          <div class="content" i18n="titla footer content@@contentFt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi tempore possimus molestiae provident rem dolorum, impedit porro iste odio! Aperiam adipisci quaerat quia amet, cum totam iure. Blanditiis, modi, iure.</div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="title" i18n="customer service@@customerSrv">Customer service</div>
          <div class="content">
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="title" i18n="@@Information">Information</div>
          <div class="content">
            <ul>
              <li>1 item</li>
              <li>2 item</li>
              <li>3 item</li>
              <li>4 item</li>
              <li>5 item</li>
              <li>6 item</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="title" i18n="@@contactUs">Concact us</div>
          <div class="content">
            <ul class="social-link">
              <li><a href="" class="d-flex align-items-center justify-content-center">
                <span class="fa fa-vk"></span>
              </a></li>
              <li><a href="" class="d-flex align-items-center justify-content-center">
                <span class="fa fa-facebook"></span>
              </a></li>
              <li><a href="" class="d-flex align-items-center justify-content-center">
                <span class="fa fa-twitter"></span>
              </a></li>
              <li><a href="" class="d-flex align-items-center justify-content-center">
                <span class="fa fa-instagram"></span>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <span i18n="@@footer">Bezoil © 2018 All Rights Reserved</span>
  </div>
</footer>