<menu-top></menu-top>
<section class="head d-flex align-items-center justify-content-center">
	<div class="description">
		<h1 translate>About Us</h1>
	</div>
</section>
<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px;">
				<p>Интернет-магазин Bezoil.com представляет обширный каталог электротранспорта лидирующих производителей и это позволяет нам удовлетворить любые потребности различных покупателей. Мы являемся авторизированными дилерами всех брендов представленных на сайте на территории Беларуси и предлагаем только полную комплектацию, официальную гарантию и любую специализированную помощь по товару. 
		Наши электрические скутеры разработаны для комфортных поездок и приятного досуга. Быстрый и надежный, безопасный и высокотехнологичный - эти все качества отличают нашу продукцию от других аналогов. С Bezoil вы сможете первым насладиться уникальным видом транспорта, получив уникальный опыт по привлекательной цене.
		Мы предлагаем вам различные модели электрического транспорта, разработанные для удовлетворения потребностей различных категорий клиентов: подростки, которые  хотят получить новые ощущения от поездки на электроскутере и взрослые, предпочитающих мощные и быстрые электрические скутеры с моментальным ускорением. Кроме этого, Bezoil также предлагает модифицированные электрические скутеры со специализированным дизайном, которые способны преодолеть расстояние до 100 км без подзарядки для транспортных компаний, компаний, оказывающих туристические и арендные услуги.
		В интернет-магазине Bezoil вы найдете для себя только качественную и самую современную технику по отличным ценам. Мы следим за последними тенденциями на рынке и постоянно совершенствуем и модернизируем существующие модели а также разрабатываем новые модели для удовлетворения растущих потребностей наших клиентов.
		Миссия Bezoil заключается в обеспечении экологически чистого, экономичного и инновационного транспорта, который уменьшает вероятность транспортных заторов и снижает загрязнение воздуха в городах, что позволяет ежедневно совершать поездку быстро, легко и удобно без вредных выбросов, проблем и забот. 
		Наша концепция заключается в том, чтобы способствовать развитию безопасного и мобильного электротранспорта во всем мире и изменить существующую структуру городского транспорта на более комфортную и удобную.
		Философия Bezoil заключается в следующем:
		Свобода: Свобода передвижения и мобильность всегда и везде. Передвигайтесь на работу, в университет без всяких проблем. Почувствуйте наслаждения от путешествий и забудьте про стоимость бензина, он вам больше не нужен. 
		Экологически чистый & Уникальные технологии: Без вредных выбросов, громкого шума и городских пробок. Наш электротранспорт абсолютно 100 % экологичный, энергоэффективный  и прост в зарядке. Электроскутера Bezoil это "умная" техника, которая сочетает в себе множество уникальных технологических новинок, которые обеспечивают абсолютную безопасность и высокое качество.
		Доступная цена: Bezoil дает вам наиболее ценный продукт на рынке. Мы хотим, чтобы надежный и удобный электрический транспорт был доступен для всех по привлекательной цене.</p>
		    </div>
		</div>
	</div>
</section>
<footercmp></footercmp>