<header #main>
  <nav changeColorOnScroll class="navbar navbar-expand-lg fixed-top navbar-transparent">
    <a [routerLink]="['/']" class="navbar-brand" >Bezoil</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button [routerLink]="['/']" class="nav-link" translate>Home</button>
        </li>
        
        <li class="nav-item">
          <button [routerLink]="['/catalog']" class="nav-link" translate>Cathalog</button>
        </li>
        
        <li class="nav-item">
          <button [routerLink]="['/brands']" class="nav-link" translate>News</button>
        </li>
        
        <li class="nav-item">
          <button [routerLink]="['/testimons']" class="nav-link" translate>Testimonials</button>
        </li>
      </ul>
      <div class="contacts">
        <span class="fa fa-phone"></span>
        <span>0 (800)123-456</span>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <div class="input-group-btn">
            <button class="btn btn-outline-default my-2 my-sm-0" type="submit">
              <span class="fa fa-search"></span>
            </button>
          </div>
          <input class="form-control mr-sm-2" (keyup)="Search(searchValue)" type="search" placeholder="{{ 'Search' | translate }}" name="value" [(ngModel)]="searchValue" aria-label="Search">
        </div>
        <div class="result" *ngIf="searchResult.length !== 0 || searchResultMsg.length !== 0">
            <table class="table table-hover table-striped">
              <tbody>
                <tr *ngFor="let bike of searchResult" [routerLink]="['/details/', bike.id]" (click)="choose()">
                  <td>
                    <img [src]="'data:image/jpg;base64,'+bike.image" alt="">
                  </td>
                  <td>
                   <span>{{ bike.title }}</span> 
                  </td>
                </tr>
                <tr *ngIf="searchResultMsg.length !== 0">
                  <td colspan="2">
                    {{ searchResultMsg }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </form>

      <div class="user-currency" *ngIf="currentCurrency !== undefined">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="currencyBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ currentCurrency.Cur_Abbreviation }}
          </button>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="currencyBtn">
            <a class="dropdown-item" *ngFor="let currency of currencyList"(click)="ChangeCurrency(currency)"> {{ currency.Cur_Abbreviation }}</a>
          </div>
        </div>
      </div>
      <div class="user-cart">
        <a [routerLink]="['/userchart']">
          <span class="fa fa-shopping-cart"></span>
          <span class="total">${{ totalCost }}</span>
        </a>
      </div>
      <div class="user-language" *ngIf="currentLang !== undefined">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="langBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ currentLang.label }}
          </button>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="langBtn">
            <a class="dropdown-item" *ngFor="let lang of langList" (click)="ChangeLang(lang)"> {{ lang.label | uppercase }}</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>