<header #main>
  <nav changeColorOnScroll class="navbar navbar-expand-lg fixed-top navbar-transparent">
    <a href="#" class="navbar-brand" >Bezoil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button [scrollTo]="main" class="nav-link">Home</button>
        </li>
        
        <li class="nav-item">
          <button [scrollTo]="catalog" class="nav-link">Cathalog</button>
        </li>
        
        <li class="nav-item">
          <button [scrollTo]="shopWindow" class="nav-link">Shoproom</button>
        </li>
        
        <li class="nav-item">
          <button [scrollTo]="brands" class="nav-link">Brands</button>
        </li>
        
        <li class="nav-item">
          <button [scrollTo]="testimonials" class="nav-link">Testimonials</button>
        </li>
      </ul>
      <div class="contacts">
        <span class="fa fa-phone"></span>
        <span>0 (800)123-456</span>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <div class="input-group-btn">
            <button class="btn btn-outline-default my-2 my-sm-0" type="submit">
              <span class="fa fa-search"></span>
            </button>
          </div>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </div>
      </form>
      <div class="user-currency">
        <span class="total"> USD </span>
      </div>
      <div class="user-cart">
        <a [routerLink]="['/userchart']">
          <span class="fa fa-shopping-cart"></span>
          <span class="total">${{ totalCost }}</span>
        </a>
      </div>
    </div>
  </nav>
</header>