nav a{
	font-weight: 400;
	padding-right: 2em;
}
a:hover{
	text-decoration: none;
}
.carousel-inner{
	height:100vh;
}
.carousel-item{
	height: inherit;
	background-size:cover;
	background-position: center;
}
.carousel-indicators li:hover{
	cursor:pointer;
}

.navbar-transparent a{
	color:#fff;
}

.navbar button{
	background-color: transparent;
	color:#fff;
	border:none;
}
button:hover{
	cursor: pointer;
}
.buttons button:hover{
	cursor:pointer;
}
.navbar form button{
	border-radius: 3em 0 0 3em;
	border:1px solid rgba(255, 255, 255, 0.15);
	border-right:none;
	background-color: rgba(255,255,255, 0.08);
	border-color: rgba(255,255,255,0.15);
	color:#fff;
}
.user-cart{
	color:#e43315;
	margin-left: 10px;
}

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}

.contacts{
	margin-right:20px;
	color:#fff;
}

.navbar{
	padding: 1.5rem;
}

section{
	display: block;
	width: 100%;
	position: relative;
}
img{
	width: 100%;
}
.no-padding{
	padding: 0;
}
.section-with-title{
	padding:7rem 10rem;
}
.section-with-title h1{
	text-align: center;
	font-size: 4.714em;
	text-transform: uppercase;
	font-weight: 700;
}

.section-with-title h1 .colored{
	color:#01a3c1;
}

.section-with-title p{
	text-align: center;
	font-size: 1.857rem;
	font-weight: 200;
}
#galeria .row{
	width: 100%;
	margin: 0;
}
#galeria img,
#shop-window [class^="col-"] img{
	width: 100%;
}
#galeria .col,
#shop-window [class^="col-"]{
	padding: 0;
}
#galeria .col{
	background-image: url('/assets/images/charts/1.jpg'); 
	height:280px; 
	background-size:cover; 
	background-position: center;
	color:#fff;
}
#galeria .col:before{
	content:'';
	height:100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, .3);
	transition: all .3s ease-out;
}
#galeria .col:hover:before{
	background-color: rgba(0, 0, 0, .6);	
}
#galeria #galeria-image-1{
	background-image: url('/assets/images/charts/1.jpg'); 
}
#galeria #galeria-image-2{
	background-image: url('/assets/images/charts/2.jpg'); 
}
#galeria #galeria-image-3{
	background-image: url('/assets/images/charts/3.jpg'); 
}
#galeria #galeria-image-4{
	background-image: url('/assets/images/charts/4.jpg'); 
}
#galeria #galeria-image-5{
	background-image: url('/assets/images/charts/5.jpg'); 
}
#galeria #galeria-image-6{
	background-image: url('/assets/images/charts/4.jpg'); 
}
#galeria #galeria-image-7{
	background-image: url('/assets/images/charts/3.jpg'); 
}
#galeria #galeria-image-8{
	background-image: url('/assets/images/charts/5.jpg'); 
}
#galeria #galeria-image-9{
	background-image: url('/assets/images/charts/2.jpg'); 
}
#galeria #galeria-image-10{
	background-image: url('/assets/images/charts/1.jpg'); 
}
#galeria .image-info{
	width: 100%;
	z-index: 10;
	position: relative;
}
#galeria .title{
	position: absolute;
	bottom:-15px;
	transition: all .3s ease-out;
}
#galeria .subtitle{
	opacity: 0;
	position: absolute;
	bottom: -40px;
	transition: all .3s ease-out;
}
#galeria .col:hover{
	cursor: pointer;
}
#galeria .col:hover .title{
	bottom:10px;
}
#galeria .col:hover .subtitle{
	opacity: 1;
}
.full-height .full-screen-image{
	height: 100vh;
	background:url('/assets/images/bg2.jpg');
	background-size:cover;
	background-position: center;
	position: relative;
}
.part-height .full-screen-image{
	height:70vh;
}
#bill-board .full-screen-image{
	background:url('/assets/images/bg1.jpg');
	background-size:cover;
	background-position: center;
	position: relative;
}
.full-height .full-screen-image:before,
.part-height .full-screen-image:before{
	content:'';
	height:100%;
	width: 100%;
	z-index: 0;
	background: #000;
	opacity:.8;
	position: absolute;
	top:0px;
}
.full-height .container,
.part-height .container{
	z-index: 1;
}
.full-height h3,
.part-height h3{
	font-size: 6.714em;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}
.full-height h3 .colored,
.part-height h3 .colored{
	font-size: 7.857rem;
	color:#9CE415;
}
.part-height h3 .colored{
	font-size: inherit;
}
#bill-board h3 .colored{
	color:#f6c629;
}
#shop-window{
	padding: 100px 0px;
}
/*#shop-window .container,
#testimonials .container{
	margin-top: -100px;
}*/
#shop-window .item{
	margin-bottom: 50px;
}
#testimonials{
	padding-bottom: 200px;
}

#shop-window .container .description{
	padding:30px;
}

#shop-window .container .description{
	text-align: center;
}

#shop-window .container h4{
	margin-bottom: 1em;
}

#shop-window .container span{
	font-size: 1.85em;
	font-weight: 700;
}

.right-border{
	border-right:1px solid #ccc;
}
#shop-window .window-item{
	border-right:1px solid #ccc;
}
#shop-window .window-item:nth-child(3n + 3){
	border: none;
}
#shop-window button{
	border-radius:2em;
	padding: .7em 3.5em;
}
#shop-window button:first-child{
	margin-right: 1em;
}
#shop-window .buttons{
	margin-top: 20px;
}
[ngxSlickItem]{
	margin-right: 40px;
}

#parallax{
	height: 300px;
}

.brands-list{
	padding:7rem 0px 0px;
}
.callback{
	position: absolute;
	z-index: 10;
	margin-top: -75px;
}
.callback .content{
	padding:30px 50px;
	background-color: #121212;
	color:#fff;
}
.callback .content p{
	margin: 0;
	font-size: 1.857em;
}
.callback button{
	border-radius: 3em;
	padding: .75em 1.85em;
	float: right;
	width: 100%;
}

.more-btn{
	padding: .75em 1.85em;
	border-radius: 3em;
}

@media only screen and (max-width: 768px) {
	#welcome{
		padding:20px;
	}
	#welcome h1{
		font-size: 3em;
	}
	.greeting p{
		font-size:.5em;
	}
	h3 .colored{
		font-size: 1.114em !important;
	}

	.callback p{
		font-size: 1.1em !important;
	}
	.callback button{
		padding: .75em 0.85em !important;
	}
}
@media only screen and (min-width:992px) and (max-width:1024px) {
	
}