/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body, html{
	font-family: 'Montserrat', sans-serif;
	height:100%;
	font-size: 16px;
}
.btn-success{
	background-color: #35DC4E;
	border-color: #35DC4E;
}
.btn:hover{
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
.head .description h1{
	color: #ccc;
}
