.title{
	display: block;
	font-size:40px;
}

.bike{
	border-bottom: 1px solid #ccc;
	padding:20px;
}
.btn{
	margin-top:10px;
}
.preview{
	margin-bottom:20px;
}
.preview-min{
	max-width: 100px;
	padding:10px;
	border: 1px solid #ccc;
}
.preview-min img{
	width:100%;
}
