<menu-top></menu-top>
<section class="head d-flex align-items-center justify-content-center">
	<div class="description">
		<h1 *ngIf="currentBike">{{ currentBike.title }}</h1>
	</div>
</section>
<section class="content">
	<div class="container">
		<ng-container *ngIf="currentBike">
			<div class="row bike">
				<div class="preview col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<div class="frame">
						<img [src]="'data:image/jpg;base64,'+currentBike.image" alt="">
					</div>
					<div class="preview-min-container d-flex justify-content-around">
						<ks-modal-gallery [modalImages]="currentBike.minPrev" [plainGalleryConfig]="plainGalleryRow"></ks-modal-gallery>
						<!-- <div *ngFor="let prev of currentBike.previews" class="preview-min d-flex align-items-center">
							<img class="rounded" [src]="'data:image/jpg;base64,'+prev" alt="">
						</div> -->
					</div>
					<div class="col-lg-12">
						<button class="btn btn-block btn-success" translate (click)="AddToChart(currentBike)">Add</button>
					</div>
				</div>
				<div class="description col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<span class="title">{{ currentBike.title }}</span>
					<div class="ditails">
						<table class="table" i18n="@@params">
							<tbody>
								<tr>
									<td translate>life</td>
									<td>{{ currentBike.displayLVPrice | currency }}</td>
								</tr>
								<tr>
									<td translate>power</td>
									<td>{{ currentBike.displayPVPrice | currency }}</td>
								</tr>
								<tr>
									<td translate>Sizes</td>
									<td>{{ currentBike.width }} <span translate>mm</span> x {{ currentBike.height }} <span translate>mm</span> x {{ currentBike.length }} <span translate>mm</span></td>	
								</tr>
								<tr>
									<td translate>Break</td>
									<td>{{ currentBike.breakSystem }}</td>	
								</tr>
								<tr>
									<td translate>MaxS</td>
									<td>{{ currentBike.maxSpeed}} km/h</td>	
								</tr>
								<tr>
									<td translate>MaxD</td>
									<td>{{ currentBike.maxWayLength }} km</td>	
								</tr>
								<tr>
									<td translate>Weight</td>
									<td>{{ currentBike.weight }} kg</td>	
								</tr>
								<tr>
									<td translate>Motor</td>
									<td>{{ currentBike.motor }} W</td>	
								</tr>
								<tr>
									<td translate>Battery</td>
									<td>{{ currentBike.batteryV }} V {{ currentBike.batteryA }} A</td>	
								</tr>
								<tr>
									<td translate>Charging</td>
									<td>{{ currentBike.batteryCharging }} h</td>	
								</tr>
								<tr>
									<td translate>MaxL</td>
									<td>{{ currentBike.maxLoad }} kg</td>	
								</tr>
								<tr>
									<td translate>Wheels</td>
									<td>{{ currentBike.wheels }} <span translate>mm</span></td>	
								</tr>
								<tr>
									<td translate>Sit</td>
									<td>{{ currentBike.sitHeight }} <span translate>mm</span></td>	
								</tr>
								<tr>
									<td translate>Clearance</td>
									<td>{{ currentBike.clearance }} <span translate>mm</span></td>	
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</section>
<footercmp></footercmp>